{% extends 'base.html' %}
{% block title %}
	Об авторе
{% endblock %}
{% block content %}
{% load user_filters %}
  <body>
    <h1>Обо мне.</h1>
    <p>
	    Меня зовут Алексей, мне 28 лет. Окончил НИЯУ "МИФИ" имею высшее техническое образование.
        Решил перейти в IT, проработав почти 4 года в Национальном исследовательском центре "Курчатовский Институт".
        В данном моменте считаю это направление более перспективным, благодаря большой зарплате и возможностью
        работать удаленно. Рассматриваю страны для возможного переезда и развития уже на месте.
    </p>
   <a href="https://github.com/Ozxar69">
          Мой аккаунт на Github</a>
  </body>
{% endblock %}

